* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
/* common  */
.container {
  max-width: 1150px;
  margin: 0 auto;
}

.btn {
  background-color: #30b868;
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 12px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #2d6ed0;
}
/* navbar */
.nav-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
}

.nav-parent .nav-img img {
  /* background-color: aqua; */

  width: 120px;
  height: 45px;
}

.nav-parent .nav-menu a {
  text-decoration: none;
  color: #000000;
  padding: 20px;
}
